<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>apis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style media="screen">
    </style>
  </head>
  <body>
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">PCSG API Gateway</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
          <button class="btn btn-danger navbar-btn">Button</button>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
              <li><button class="btn-primary" type="button" id="kongApi">Get Kong APIs</button></li>
              <li><button class="btn-primary" type="button" id="usersApi">Get Users</button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="app-6">
              <ol>
                <kong-api v-for="item in kongapis" v-bind:kongapis="item"></kong-api>
              </ol>
            </div>

            <div id="app-7">
              <ol>
                <users-api v-for="item in groceryList" v-bind:users="item"></users-api>
              </ol>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script type="text/javascript">
    var kongApi = document.getElementById('kongApi');
    var usersApi = document.getElementById('usersApi');

    Vue.component('kong-api', {
      props: ['kongapis'],
      template: '<li>{{ kongapis.name }}</li>'
    })

    kongApi.addEventListener('click', function() {
      console.log('kong clicked')
      $.post("/apis",
      {
          name: "example.org"
      },
      function(data, status){
          console.log(data)
          var app6 = new Vue({
            el: '#app-6',
            data: {
              kongapis: data.data
            }
          })
      });
    })

    Vue.component('users-api', {
      props: ['users'],
      template: '<li>{{ users.first_name }}</li>'
    })


    usersApi.addEventListener('click', function() {
      console.log('users clicked')
      $.post("/apis",
      {
          name: "pcsg-apigateway.herokuapp.com"
      },
      function(data, status){
        console.log(data)
          var app7 = new Vue({
            el: '#app-7',
            data: {
              groceryList: data
            }
          })
      });
    })




    </script>
  </body>
</html>
