<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>apis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
    <button type="button" id="kongApi">Get Kong APIs</button>

    <script type="text/javascript">
    var kongApi = document.getElementById('kongApi');

    kongApi.addEventListener('click', function() {
      $.post("/apis",
      {
          name: "Donald Duck",
          city: "Duckburg"
      },
      function(data, status){
          console.log(data)
      });
    })

    </script>
  </body>
</html>
